.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .45);
    margin-bottom: 1rem;
}



.logo_img {
    width: 15%;
}

.logo_img > img {
    width: 75px;
    cursor: pointer;
}

.profile_icon {
    font-size: 3.15rem;
    color: #e6b800;
    cursor: pointer;
}



@media screen and (max-width: 992px) {
    .logo_img > img {
        width: 55px;
    }
    
    .profile_icon {
        font-size: 2.5rem;
    }
    
}

@media screen and (max-width: 800px) {

    
}