.home {
    padding: 4rem;
    padding-top: 0;
    background-color: #fff5cc;
    min-height: 100vh;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    margin: 16px !important;
}



@media (min-width: 992px) and (max-width: 1380px) {
    .home {
        padding: 3rem;
        padding-top: 0;
    }
}


@media screen and (max-width: 992px) {
    .home {
        padding: 1rem;
        padding-top: 0;
    }
}

@media screen and (max-width: 800px) {

    
}

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 400px) {

}
  
@media only screen and (min-device-width: 320px) and (max-device-width: 
  480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {

}


@media only screen and (device-width: 768px) {

}