.home {
    padding: 4rem;
    padding-top: 0;
    background-color: #fff5cc;
    min-height: 100vh;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    margin: 16px !important;
}

.home_total {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1.5rem;
    margin-top: 2rem;
}

.home_total h2 {
    font-family: var(--secondary-font);
    font-size: 1.3rem;
    font-weight: 500;
}

.bold {
    font-weight: 600;   
    font-size: 1.85rem;
}


@media (min-width: 992px) and (max-width: 1380px) {
    .home {
        padding: 3rem;
        padding-top: 0;
    }
}


@media screen and (max-width: 992px) {
    .home {
        padding: 1rem;
        padding-top: 0;
    }
}

@media screen and (max-width: 800px) {

    
}

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 400px) {

}
  
@media only screen and (min-device-width: 320px) and (max-device-width: 
  480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {

}


@media only screen and (device-width: 768px) {

}